<h2>Search Author</h2>
<form action="/authors" method="get">
    <label>Name</label>
    <input type="text" name="searchAuthor" value="<%= searchOptions.name %>" placeholder="Author name...">
    <button type="submit">Search</button>
</form>
<br>
<% authors.forEach(element => {%> 
    <div><%= element.name %></div>
    <a href="/authors/<%= element.id %>">View</a>
    <a href="/authors/<%= element.id %>/edit">Edit</a>
    <%- include('../partials/deleteForm', {url: `/authors/${element.id}`}) %> 
<%}) %> 